<!doctype html>
<html>
 <head>
   <title><%= title %></title>
   <link rel="stylesheet" href="/assets/css/main.css">
 </head>
 <body>
   <header>
     <p>This is my header</p>
   </header>
   <main>
     <h1 id="my-anchor">This is my anchor</h1>
     <p>This is my main</p>
     <h1>Heading One</h1>
     <h2>Heading Two</h2>
     <h3>Heading Three</h3>
     <h4>Heading Four</h4>
     <h5>Heading Five</h5>
     <p>
       I <strong>really</strong> enjoy dennies
       <em>and</em> pennies
     </p>
     <ul>
       <li>I am an item</li>
       <li>I am another item</li>
     </ul>
     <ol>
       <li>I am the first item</li>
       <li>I am the second item</li>
     </ol>
     <h2>Cards</h2>
     <ul>
       <% cards.forEach(card => { %>
        <li><%= card.name %></li>
      <% }) %>
    </ul>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Set</th>
        </tr>
      </thead>
      <tbody>
        <% cards.forEach(card => { %>
        <tr>
         <td><%= card.nationalPokedexNumber %></td>
         <td><%= card.name %></td>
         <td><%= card.set %></td>
      </tr>
    <% }) %>
   </tbody>
 </table>
 <a href="http://google.co.uk/">This is my link</a>
 <a href="#my-anchor">Go to my anchor</a>
 <blockquote>
   what the swag did you just yolo about me, you little wayne? I'll have you know i graduated top of my class in the swagfags, and i've been involved in numerous obey records, and i have over 300 confirmed swaggers.
 </blockquote>
 <pre>
   This
     is my pre
 </pre>
 <code>
   const yolo = 420 / 42;
 </code>
 <img src="http://i.imgur.com/Xgj0BP4.gif"
      alt="Nice Shot!" />
 <p>This is my generic paragraph</p>
 <p class="text-colour-blue">This is my generic paragraph</p>
 <p>This is my generic paragraph</p>
 <p class="text-colour-blue text-capitalise">
   This is my generic p
 </p>
 <p data-set="splooge">Some splooge</p>
 <a href="http://money.com" class="money">Free money</a>
 <ul class="firsty">
   <li>juan</li>
   <li>deux</li>
   <li>tres</li>
 </ul>
 <p class="unit-px">Pixels units</p>
 <p class="unit-em">Relative units</p>
 <p class="unit-rem">Relative font-size units</p>
 <p class="unit-vw">Viewport width units</p>
 <p class="unit-vh">Viewport height units</p>
 <div class="boxy">
   i am a box with some text, lol
 </div>
 <div class="layout">
   <div class="boxo lefty">
     Lefty
   </div>
   <div class="boxo righty">
     Righty
   </div>
 </div>
 <div class="flexbox">
   <div class="flexy">
     i amflexy
   </div>
   <div class="flexy">
     i amflexy
   </div>
   <div class="flexy">
     i amflexy
   </div>
 </div>
 <div class="hide-mobile">
   I am visible on the desktop
 </div>
 <a id="my-link">McJavaScripty</a>

 <script>
 const myLink = document.getElementById('my-link');

 myLink.addEventListener('click', () => {
   alert('Hello! I am some JavaScript');
 });
 </script>
   </main>
   <footer>
     <p>This is my footer</p>
   </footer>
 </body>
</html>
