<!doctype html>
<html>
 <head>
   <title><%= title %></title>
   <link rel="stylesheet"
         href="assets/css/normalize.css">
   <link rel="stylesheet"
         href="assets/css/main.css">
   <link rel="stylesheet"
         href="assets/css/card-browser.css">
 <div class="app-container">
   <header class="app-header">
     <div class="app-title">
       <h1>Pokémon TCG</h1>
     </div>
   </header>
   <main class="app-main">
     <table class="card-browser">
       <thead>
         <tr>
           <th>#</th>
           <th>Name</th>
           <th>Set</th>
         </tr>
       </thead>
       <tbody class="card-list">
         <% cards.forEach(card => { %>
         <tr>
           <td><%= card.nationalPokedexNumber %></td>
           <td><%= card.name %></td>
           <td data-set="<%= card.setCode %>"><%= card.set %></td>
         </tr>
       <% }) %>
    </tbody>
  </table>
   </main>
   <footer class="app-footer">
   </footer>
 </div>
 </head>
 <script src="assets/js/card-browser.js"></script>
 <body>
 </body>
</html>
